<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Home | DeCamping.com</title>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <!-- Header section (fixed) -->
    <%- include("../partials/header.ejs") %>
    <!-- Main section -->
    <main>
      <section>
        <h2 class="text-titles">PROCESAMIENTO DE ORDEN DE COMPRA</h2>
        <div class="">
          <h3><%= msg %></h3>
          <% if(orderSuccess) { %>
          <p>Su orden fue procesada con el número:</p>
          <h3><%= orderSuccess.order_number %></h3>

          <p>Puede descargar su orden de compra desde el siguiente enlace:</p>
          <form method="GET" action="/products/cart/download-order/<%=orderSuccess.id%>">
            <button class="boton-ppal color-primario" type="submit">DESCARGAR PDF</button>
            <i class="fa fa-file-pdf"></i>
          </form>
          <% } else { %>
          <button><a href="/products/cart">Volver al carrito</a></button>
          <% } %>
        </div>
      </section>
    </main>

    <!-- Footer section -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
