<!DOCTYPE html>

<html lang="en">
  <head>
    <title><%= product.name %> | DeCamping.com</title>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <!-- Header section (fixed) -->
    <%- include("../partials/header.ejs") %>

    <!-- Main section -->
    <main>
      <h2 class="text-titles"><%= product.name %></h2>

      <!-- Contenido principal del productDetail-->
      <article class="prod-detail">
        <div class="detail-container">
          <div class="detail-image">
            <img src="<%= product.img %>" alt="<%= product.name %>" />
          </div>
          <div class="options-buttons">
            <button class="selected">1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
          </div>
          <div class="container-pricing-information">
            <div class="detail-price">
              <p class="detail-price-format">$ <%= toThousand(product.price) %></p>
            </div>
            <div class="detail-information">
              <p>
                <%= product.desc %>
              </p>
            </div>
            <div class="cart-options">
              <label for="quantity">Cantidad:</label>
              <select name="quantity" id="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
            <div class="detail-cart">
              <button class="boton-ppal color-primario">Agregar al carrito</button>
            </div>
          </div>
        </div>
      </article>
    </main>

    <!-- Footer section -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
