<!DOCTYPE html>

<html lang="en">
  <head>
    <title><%= product.name %> | DeCamping.com</title>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <!-- Header section (fixed) -->
    <%- include("../partials/header.ejs") %>

    <!-- Main section -->
    <main>
      <!-- Contenido principal del productDetail-->
      <article class="prod-detail">
        <div class="detail-container">
          <div class="detail-image">
            <img src="/img/products/<%= product.img %>" alt="<%= product.name %>" />
          </div>

          <div class="container-pricing-information">
            <h2 class="text-titles"><%= product.name %></h2>

            <% if(product.discount > 0) { %>
            <div class="detail-price">
              <span class="detail-price-format"
                >$ <%= toThousand(product.price - product.price * product.discount / 100) %></span
              >
              <span class=""> <%= product.discount %> % OFF!</span>
              <p class="text-prices-discount"><%= toThousand(product.price) %></p>
            </div>
            <% } else { %>
            <div class="detail-price">
              <p class="detail-price-format">
                $ <%= toThousand(product.price - product.price * product.discount / 100) %>
              </p>
            </div>
            <% } %>

            <div class="detail-information">
              <p><%= product.description %></p>
            </div>
            <div class="cart-options">
              <label for="quantity">Cantidad:</label>
              <select name="quantity" id="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
            <div class="detail-cart">
              <button class="boton-ppal color-primario">
                Agregar al carrito<i class="fas fa-cart-plus"></i>
              </button>
            </div>
            <div class="edit-delete-container">
              <div class="edit-delete-form-container">
                <form action="/admin/product/<%= product.id %>/edit" method="GET">
                  <button class="boton-ppal color-primario">Editar producto</button>
                </form>
              </div>
              <div class="edit-delete-form-container">
                <form action="/" method="GET">
                  <button class="boton-ppal color-delete">Eliminar producto</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>

    <!-- Footer section -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
