<!DOCTYPE html>

<html lang="en">
  <head>
    <title><%= selectedCategory %> | DeCamping.com</title>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <!-- Header section (fixed) -->
    <%- include("../partials/header.ejs") %>
    <!-- Main section -->
    <main>
      <section>
        <h2 class="text-titles"><%= selectedCategory %></h2>
        <div class="flex">
          <% for (product of productsByCategory) { %>
            <%- include("../partials/product-box.ejs") %>
            <% }  %>
        
        </div>
      </section>
    </main>

    <!-- Footer section -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
