<!DOCTYPE html>

<html lang="en">
  <head>
    <title><%= product.name %> | DeCamping.com</title>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <!-- Header section (fixed) -->
    <%- include("../partials/header.ejs") %>

    <!-- Main section -->
    <main>
      <!-- Contenido principal del productDetail-->
      <article class="prod-detail">
        <div class="detail-container">
          <div class="detail-image">
            <img src="/img/products/<%= product.image %>" alt="<%= product.name %>" />
          </div>

          <div class="container-pricing-information">
            <h2 class="text-titles"><%= product.name %></h2>

            <% if(product.deleted != true) { %> <% if(product.discount > 0) { %>
            <div class="detail-price">
              <span class="detail-price-format"
                >$ <%= toThousand(product.price - product.price * product.discount / 100) %></span
              >
              <span class=""> <%= product.discount %> % OFF!</span>
              <p class="text-prices-discount"><%= toThousand(product.price) %></p>
            </div>
            <% } else { %>
            <div class="detail-price">
              <p class="detail-price-format">
                $ <%= toThousand(product.price - product.price * product.discount / 100) %>
              </p>
            </div>
            <% } %>

            <div class="detail-information">
              <p><%= product.description %></p>
            </div>
            <form action="/products/<%=product.id%>/cart" method="POST">
              <div class="cart-options">
                <% if (product.stock > 0) { %>
                <p style="color: green">En stock</p>
                <label for="quantity">Cantidad:</label>
                <select name="quantity" id="quantity">
                  <% if (product.stock >= 5) { %>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <% } else if (product.stock == 4) { %>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <% } else if (product.stock == 3) { %>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <% } else if (product.stock == 2) { %>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <% } else if (product.stock == 1) { %>
                  <option value="1">1</option>
                  <% } %>
                </select>
              </div>
              <div class="detail-cart">
                <button type="submit" class="boton-ppal color-primario">
                  Agregar al carrito<i class="fas fa-cart-plus"></i>
                </button>
              </div>
                <% } else { %>
                <p style="color: red">Producto sin stock</p>
                </select>
              </div>
                <% } %>
            </form>
            <% if (locals.isLogged && locals.userLogged.category == 'admin') { %>
            <div class="edit-delete-container">
              <div class="edit-delete-form-container">
                <form action="/admin/product/<%= product.id %>/edit" method="GET">
                  <button class="boton-ppal color-primario">Editar producto</button>
                </form>
              </div>
              <div class="edit-delete-form-container">
                <form action="/admin/product/<%= product.id %>?_method=DELETE" method="POST">
                  <button class="boton-ppal color-delete">Eliminar producto</button>
                </form>
              </div>
            </div>
            <% } %>
            <% } else { %>
            <p>Lo sentimos, este producto ya no está disponible.</p>
            <form action="/products" method="GET">
              <button class="boton-ppal color-primario" type="submit">
                Volver al listado de productos
              </button>
            </form>
            <% } %>
          </div>
        </div>
      </article>
    </main>

    <!-- Footer section -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
