<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Home | DeCamping.com</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <%- include("./partials/head.ejs") %>
  </head>

  <body>
    <!-- Header section (fixed) -->
    <%- include("./partials/header.ejs") %>

    <!-- Main section -->
    <main>
      <!-- Carousel -->
      <div class="carousel-container">
        <div class="carousel">
          <div class="carousel-slider">
            <section class="carousel-img-1"></section>
            <section class="carousel-img-2"></section>
            <section class="carousel-img-3"></section>
            <section class="carousel-img-4"></section>
          </div>
          <div class="carousel-controls">
            <span class="arrow left">
              <i class="fas fa-angle-left"></i>
            </span>
            <span class="arrow right">
              <i class="fas fa-angle-right"></i>
            </span>
            <ul>
              <li class="selected"></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>

      <section class="categories-section">
        <h2 class="text-titles">CATEGORIAS</h2>
        <div class="flex">
          <div class="categories camping"></div>
          <div class="categories escalada"></div>
          <div class="categories ski"></div>
          <div class="categories montanismo"></div>
        </div>
      </section>
      <section>
        <h2 class="text-titles">PROD. DESTACADOS</h2>
        <!-- En version mobile convertir en slider para ocupar menos espacio -->
        <div class="flex">
          <% for (product of products) { %> <% if(product.starred == true) { %> <%-
          include("./partials/product-box.ejs") %> <% } %> <% } %>
        </div>
      </section>
      <section>
        <h2 class="text-titles">OFERTAS</h2>
        <div class="flex">
          <% for (product of products) { %> <% if(product.discount != 0) { %> <%-
          include("./partials/product-box.ejs") %> <% } %> <% } %>
        </div>
      </section>
      <form action="/products" method="GET" style="padding-bottom: 20px">
        <button type="submit" class="button-prod"><span>VER TODOS LOS PRODUCTOS</span></button>
      </form>
    </main>

    <!-- Footer section -->
    <%- include("./partials/footer.ejs") %>

    <script src="/js/scripts/carousel.js"></script>
  </body>
</html>
