<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Home | DeCamping.com</title>
    <%- include("./partials/head.ejs") %>
  </head>

  <body>
    <!-- Header section (fixed) -->
    <%- include("./partials/header.ejs") %>

    <!-- Main section -->
    <main>
      <!-- DIV DEL CAROUSEL, PENDING!!!

            <div class="carousel">
                <div class="item">
                    <h3>Item 1 del Carousel</h3>
                </div>
                <div class="item">
                    <h3>Item 2 del Carousel</h3>
                </div>
                <div class="item">
                    <h3>Item 3 del Carousel</h3>
                </div>
                <div class="item">
                    <h3>Item 4 del Carousel</h3>
                </div>
                <div class="item">
                    <h3>Item 5 del Carousel</h3>
                </div>
            </div>
    -->
      <img class="carousel" src="/img/carousel-img.jpeg" alt="#" />
      <section class="categories-section">
        <h2 class="text-titles">CATEGORIAS</h2>
        <div class="flex">
          <div class="categories camping"></div>
          <div class="categories escalada"></div>
          <div class="categories ski"></div>
          <div class="categories montanismo"></div>
        </div>
      </section>
      <section>
        <h2 class="text-titles">PROD. DESTACADOS</h2>
        <!-- En version mobile convertir en slider para ocupar menos espacio -->
        <div class="flex">
          <% for (product of products) { %>
            <% if(product.starred == true) { %>
            <%- include("./partials/product-box.ejs") %>
              <% }  %>
            <% }  %>
        </div>
      </section>
      <section>
        <h2 class="text-titles">OFERTAS</h2>
        <div class="flex">
          <% for (product of products) { %>
            <% if(product.discount != null) { %>
            <%- include("./partials/product-box.ejs") %>
              <% }  %>
            <% }  %>
        
        </div>
      </section>
      <form action="/products" method="GET">
        <button type="submit" class="button-prod" ><span>VER TODOS LOS PRODUCTOS</span></button>
      </form>
    </main>

    <!-- Footer section -->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
