<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Home | DeCamping.com</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <%- include("./partials/head.ejs") %>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script
      defer
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="/js/scripts/carousel.js"></script>
  </head>

  <body>
    <!-- Header section (fixed) -->
    <%- include("./partials/header.ejs") %>

    <!-- Main section -->
    <main>
      <div class="carousel">
        <img class="carousel-img" src="/img/carousel-img.jpeg" alt="#" />
        <img class="carousel-img" src="/img/carousel-img.jpeg" alt="#" />
        <img class="carousel-img" src="/img/carousel-img.jpeg" alt="#" />
        <img class="carousel-img" src="/img/carousel-img.jpeg" alt="#" />
        <img class="carousel-img" src="/img/carousel-img.jpeg" alt="#" />
      </div>
      <div class="dot-container"></div>
      <section class="categories-section">
        <h2 class="text-titles">CATEGORIAS</h2>
        <div class="flex">
          <div class="categories camping"></div>
          <div class="categories escalada"></div>
          <div class="categories ski"></div>
          <div class="categories montanismo"></div>
        </div>
      </section>
      <section>
        <h2 class="text-titles">PROD. DESTACADOS</h2>
        <!-- En version mobile convertir en slider para ocupar menos espacio -->
        <div class="flex">
          <% for (product of products) { %> <% if(product.starred == true) { %> <%-
          include("./partials/product-box.ejs") %> <% } %> <% } %>
        </div>
      </section>
      <section>
        <h2 class="text-titles">OFERTAS</h2>
        <div class="flex">
          <% for (product of products) { %> <% if(product.discount != 0) { %> <%-
          include("./partials/product-box.ejs") %> <% } %> <% } %>
        </div>
      </section>
      <form action="/products" method="GET" style="padding-bottom: 20px">
        <button type="submit" class="button-prod"><span>VER TODOS LOS PRODUCTOS</span></button>
      </form>
    </main>

    <!-- Footer section -->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
