<div class="product-wrapper">
  <article class="prod-destacado">
    <img src="<%= product.img %>" class="prod-img" alt="<%= product.name %>" />
    <div class="article-box">
      <p class="text-prices"><%= product.price %></p>
      <p class="discount-prices"><%= product.discount %></p>
      <h3 class="text-description"><%= product.name %></h3>
    </div>
  </article>
</div>
