<html lang="en">
<head>
    <title>Admin - Edición de producto</title>
    <%- include("../partials/head.ejs") %>

</head>
<body>
  <%- include("../partials/header.ejs") %>

  
    <main>
        <h2 class="text-titles">Estas editando : <%= product.name %></h2>
        <form action="/admin/product/<%= product.id %>?_method=PUT" method="POST" class="register-form" enctype="multipart/form-data" >
            <div class="form-div">
              <label for="id">Id del producto</label>
              <input type="number" name="id" id="id" value="<%= product.id %>" disabled>
            </div>
            <div class="form-div">
              <label for="name">Nombre del producto</label>
              <input type="text" name="name" id="name" value="<%= product.name %>">
            </div>
            <div class="form-div">
              <label for="description">Descripción</label>
              <input type="textarea" name="description" value="<%= product.description %>">
            </div>
            <div class="form-div">
              <label for="image">Imagen</label>
              <br>
              <img style="width: 30%;" src="/img/products/<%= product.image %>" alt="">
              <input type="file" name="image" id="image">
            </div>
            <div class="form-div">
              <label for="category">Categoría</label>
              <select name="category">
                <option value="Camping" <%= (product.category_id == 1) ? "selected" : "" %>>Camping</option>
                <option value="Montañismo" <%= (product.category_id == 2) ? "selected" : "" %>>Montañismo</option>
                <option value="Escalada" <%= (product.category_id == 3) ? "selected" : "" %>>Escalada</option>
                <option value="SKI" <%= (product.category_id == 4) ? "selected" : "" %>>SKI</option>
              </select>
            </div>
            <div class="form-div">
              <label for="subcategory">Subcategoría</label>
              <select name="subcategory">
                <option value="Carpas" <%= (product.subcategory_id == 1) ? "selected" : "" %>>Carpas</option>
                <option value="Camperas" <%= (product.subcategory_id == 2) ? "selected" : "" %>>Camperas</option>
                <option value="Pantalones" <%= (product.subcategory_id == 3) ? "selected" : "" %>>Pantalones</option>
                <option value="Accesorios" <%= (product.subcategory_id == 4) ? "selected" : "" %>>Accesorios</option>
                <option value="Elementos técnicos" <%= (product.subcategory_id == 5) ? "selected" : "" %>>Elementos técnicos</option>
                  </select>
            </div>
            <div class="form-div">
              <label for="discount">Descuento</label>
              <input type="number" min="0" max="50" name="discount" value="<%= product.discount %>"/>
            </div>
            <div class="form-div">
              <label for="starred">Destacado</label>
              <input type="checkbox" name="starred" <%= product.starred == true ? "selected" : "" %>>
            </div>
            <div class="form-div">
              <label for="price">Precio</label>
              <input type="number" name="price" value="<%= product.price %>">
            </div>
            <div class="form-div">
              <label for="stock">Stock actual</label>
              <input type="number" name="stock" value="<%= product.stock %>">
            </div>
            <div class="form-div">
              <button class="boton-ppal color-primario" type="submit" >Editar producto</button>
            </div>

        </form>
    </main>
    
</body>
</html>