<html lang="en">
  <head>
    <title>Administrador</title>
    <%- include("../partials/head.ejs") %>
    <script defer src="/js/validations/product-validation.js" ></script>

  </head>
  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <h2 class="text-titles">Creador de productos</h2>
      <ul class="product-validation-errors hidden"> </ul>
      <form
        action="/admin/product/create"
        method="POST"
        class="register-form"
        enctype="multipart/form-data"
      >
        <div class="form-div">
          <label for="name">Nombre del producto</label>
          <input type="text" name="name" id="name" value="<%=locals.oldValues ? oldValues.name : "" %>" />
          <% if (locals.errors && errors.name) { %>
            <div class="error-msg">
              <p><%= errors.name.msg %></p>
            </div>
          <% } %>
        </div>
        <div class="form-div">
          <label for="description">Descripción</label>
          <input type="textarea" name="description" id="description"  value="<%=locals.oldValues ? oldValues.description : "" %>"/>
          <% if (locals.errors && errors.description) { %>
            <div class="error-msg">
              <p><%= errors.description.msg %></p>
            </div>
          <% } %>
        </div>
        <div class="form-div">
          <label for="img">Imagen</label>
          <input type="file" name="image" id="image" />
          <% if (locals.errors && errors.image) { %>
            <div class="error-msg">
              <p><%= errors.image.msg %></p>
            </div>
          <% } %>
        </div>
        <div class="form-div">
          <label for="category">Categoría</label>
          <select name="category" id="category" >
            <option value="" selected disabled>Elija una categoría</option>
            <option value="Camping" <%= locals.oldValues && oldValues.category == "Camping" ? "selected" : "" %>>Camping</option>
            <option value="Montañismo" <%= locals.oldValues && oldValues.category == "Montañismo" ? "selected" : "" %>>Montañismo</option>
            <option value="Escalada" <%= locals.oldValues && oldValues.category == "Escalada" ? "selected" : "" %>>Escalada</option>
            <option value="SKI" <%= locals.oldValues && oldValues.category == "SKI" ? "selected" : "" %>>SKI</option>
          </select>
          <% if (locals.errors && errors.category) { %>
            <div class="error-msg">
              <p><%= errors.category.msg %></p>
            </div>
          <% } %>
        </div>
        <div class="form-div">
          <label for="subcategory">Subcategorías</label>
          <select id="subcategory" name="subcategory" >
            <option value="" selected disabled>Elija una sub-categoría</option>
            <option value="Carpas" <%= locals.oldValues && oldValues.subcategory == "Carpas" ? "selected" : "" %>>Carpas</option>
            <option value="Camperas" <%= locals.oldValues && oldValues.subcategory == "Camperas" ? "selected" : "" %>>Camperas</option>
            <option value="Pantalones" <%= locals.oldValues && oldValues.subcategory == "Pantalones" ? "selected" : "" %>>Pantalones</option>
            <option value="Accesorios" <%= locals.oldValues && oldValues.subcategory == "Accesorios" ? "selected" : "" %>>Accesorios</option>
            <option value="Elementos técnicos" <%= locals.oldValues && oldValues.subcategory == "Elementos técnicos" ? "selected" : "" %>>Elementos técnicos</option>
          </select>
          <% if (locals.errors && errors.subcategory) { %>
            <div class="error-msg">
              <p><%= errors.subcategory.msg %></p>
            </div>
          <% } %>
        </div>
        <div class="form-div">
          <label for="discount">Descuento</label>
          <input type="number" min="0" max="50" name="discount" id="discount"  value="<%=locals.oldValues ? oldValues.discount : "" %>"/>
        </div>
        <div class="form-div">
          <label for="starred">Destacado</label>
          <input type="checkbox" name="starred" id="starred" <%= locals.oldValues && oldValues.starred == "on" ? "checked" : "" %> />
        </div>
        <div class="form-div">
          <label for="price">Precio</label>
          <input type="number" name="price" id="price"  value="<%=locals.oldValues ? oldValues.price : "" %>"/>
          <% if (locals.errors && errors.price) { %>
            <div class="error-msg">
              <p><%= errors.price.msg %></p>
            </div>
          <% } %>
        </div>
        <div class="form-div">
          <label for="stock">Unidades en stock</label>
          <input type="number" name="stock" id="stock"  value="<%=locals.oldValues ? oldValues.stock : "" %>"/>
        </div>
        <div class="form-div">
          <button class="boton-ppal color-primario" type="submit">Crear producto</button>
        </div>
      </form>
    </main>
  </body>
</html>
