<html lang="en">
<head>
    <title>Administrador</title>
    <%- include("../partials/head.ejs") %>

</head>
<body>
  <header>
    <div class="container">
      <i class="fas fa-bars menu"></i>
      <div class="container-logo">
        <a href="../">
          <img src="/img/logo-decamping.png" alt="Logo DeCamping.com" class="logo" />
        </a>
      </div>
      <a href="../users/login" class="iconos-derecha">
        <i class="far fa-user"></i>
      </a>
      <a href="../products/productCart" class="iconos-derecha"><i class="fas fa-shopping-cart"></i></a>
    </div>
  </header>
  
    <main>
        <h2 class="text-titles">Estas editando : <%= product.name %></h2>
        <form action="/admin/product/<%= product.id %>?_method=PUT" method="POST" class="register-form" enctype="multipart/form-data" >
            <div class="form-div">
                <label for="name">Nombre del producto</label>
                <input type="text" name="name" id="name" value="<%= product.name %>">
              </div>
              <div class="form-div">
                <label for="desc">Descripción</label>
                <input type="textarea" name="desc" value="<%= product.desc %>">
              </div>
              <div class="form-div">
                <label for="img">Imagen</label>
                <img src="/img/products/<%= product.img %>" alt="">
                <input type="file" name="img" id="img">
              </div>
              <div class="form-div">
                <label for="category">Categoría</label>
                <select name="category">
                  <option value="Camping" <%= product.category == "Camping" ? "selected" : "" %>>Camping</option>
                    <option value="Montañismo" <%= product.category == "Montañismo" ? "selected" : "" %>>Montañismo</option>
                    <option value="Escalada" <%= product.category == "Escalada" ? "selected" : "" %>>Escalada</option>
                    <option value="SKI" <%= product.category == "SKI" ? "selected" : "" %>>SKI</option>
                  </select>
              </div>
              <div class="form-div">
                <label for="subcategory">Subcategorías</label>
                <select name="subcategory">
                    <option value="mochilas" <%= product.subcategory == "Mochilas" ? "selected" : "" %>>Mochilas</option>
                    <option value="accesorios" <%= product.subcategory == "Accesorios" ? "selected" : "" %>>Accesorios</option>
                    <option value="carpas" <%= product.subcategory == "Carpas" ? "selected" : "" %>>Carpas</option>
                    <option value="para-dormir" <%= product.subcategory == "Para Dormir" ? "selected" : "" %>>Para dormir</option>
                  </select>
              </div>
              <div class="form-div">
                <label for="discount">Descuento</label>
                <input type="number" min="0" max="50" name="discount" value="<%= product.discount %>"/>
              </div>
              <div class="form-div">
                <label for="starred">Destacado</label>
                <input type="checkbox" name="starred" <%= product.starred == true ? "selected" : "" %>>
              </div>
              <div class="form-div">
                <label for="price">Precio</label>
                <input type="number" name="price" value="<%= product.price %>">
              </div>

              <div class="form-div">
                <button class="boton-ppal color-primario" type="submit" >Editar producto</button>
              </div>

        </form>
    </main>
    
</body>
</html>