<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Home | DeCamping.com</title>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <!-- Header section (fixed) -->
    <%- include("../partials/header.ejs") %>

    <!-- Main section -->
    <main>
      <h1 class="text-titles login-register">CREAR CUENTA</h1>
      <% if(locals.errors && errors.password1){ %>
        <div>
            <p><%= JSON.stringify(locals.errors) %></p>
        </div>
    
        <% } %>
      <div class="register-wrapper">
        <div class="content-wrapper-1">
          <form class="register-form" action="/users/register" method="POST">
            <div class="form-div">
              <label class="form-label" for="firstName">Nombre</label>
              <input type="text" name="firstName" placeholder="Ingrese su nombre" required />
            </div>
            <div class="form-div">
              <label class="form-label" for="lastName">Apellido</label>
              <input type="text" name="lastName" placeholder="Ingrese su apellido" required />
            </div>
            <div class="form-div">
              <label class="form-label" for="email">Dirección de correo electrónico</label>
              <input type="email" name="email" placeholder="Ej: ejemplo@gmail.com"  />
            </div>
            <div class="form-div">
              <label class="form-label" for="password1">Contraseña</label>
              <input type="password" name="password1" placeholder="Ingrese su contraseña" required />
              <% if (locals.errors) { %>
              <% for (let error of locals.errors) { %>
                  <p><%= error.msg %></p>
              <% } %>  
              <% } %>  

            </div>
            <div class="form-div">
              <label class="form-label" for="password2">Confirmar contraseña</label>
              <input type="password" name="password2" placeholder="Repita su contraseña" required />
            </div>
            <div class="form-div">
              <h3 class="form-bases">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor laboriosam
                esse fuga sapiente dolores quae. Itaque earum deserunt molestias reiciendis dolore
                totam sequi repellendus.
              </h3>
            </div>
            <div class="form-div">
              <button class="boton-ppal color-primario" type="submit">REGISTRARSE</button>
            </div>
          </form>
        </div>
        <div class="vertical-line"></div>
        <div class="content-wrapper-2">
          <div class="form-div">
            <i class="far fa-user login-icon"></i>
            <h3>Ya tenés una cuenta?</h3>
            <a href="/users/login"><h2>INGRESAR</h2></a>
            <hr class="decoration-line-register" />
          </div>
        </div>
      </div>
    </main>

    <!-- Footer section -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
