<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Home | DeCamping.com</title>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <!-- Header section (fixed) -->
    <%- include("../partials/header.ejs") %>

    <!-- Main section -->
    <main>
      <h1 class="text-titles login-register">DETALLES DE USUARIO</h1>
      <div class="user-detail-container">
        <!--
        <form action="/admin/product/create" method="GET">
          <button class="boton-ppal color-primario">Crear nuevo producto</button>
        </form>
-->
        <div class="user-detail-image">
          <img src="/img/users/<%= user.image  %>" alt="<%= user.image  %>">      
        </div>

        <div class="user-detail-information">
          <p>Nombre: <%= user.first_name %></p>
          <p>Apellido: <%= user.last_name %></p>
          <p>Email: <%= user.email %></p>
          <h3>Direcciones [ <%= address.length %> ]:</h3>
          <% for (let i = 0; i < address.length; i++){ %>
          <p>Dirección <%= i + 1 %>: <%= address.addresses[i].street_name %> <%= address.addresses[i].street_number %>, <%= address.addresses[i].city %>, <%= address.addresses[i].province %></p>
          <%} %>

        </div>
        <div class="user-detail-actions container">
          <form action="/admin/product/create" method="GET">
            <button class="boton-ppal color-primario">Crear producto</button>
          </form>
          <br>
        </div>

        <div class="user-detail-actions container">
          <form action="/users/address" method="GET">
            <button class="boton-ppal color-primario">Crear dirección</button>
          </form>
        </div>
        <form action="/users/edit" method="GET">
          <button class="boton-ppal color-primario">Editar</button>
        </form>
        <br>
        <form action="/users/logout" method="GET">
          <button class="boton-ppal color-delete">Cerrar sesión</button>
        </form>
      </div>
    </main>

    <!-- Footer section -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
